 /* no css yet  */
 body{
    font-style: normal;
 }

 
 .dt-bootstrap .dataTable thead th{
    border-top: 1px solid #f4f4f4 !important;
    border-bottom: 1px solid #f4f4f4 !important
}
.dt-bootstrap .dataTable tbody tr td,
.dt-bootstrap .dataTable thead tr th
{ 
    border-right: 1px solid #f4f4f4 !important;
}
.dt-bootstrap .dataTable tbody tr td:last-child,
.dt-bootstrap .dataTable thead tr th:last-child
{ 
    border-right: 0 !important;
}
.dt-bootstrap .dataTable tbody tr:last-child td{ 
    border-bottom: 1px solid #f4f4f4 !important
}
.dt-bootstrap .dataTables_info,
.dt-bootstrap .dataTables_length
 { 
    padding-left: 10px !important; 
}
.dt-bootstrap .dataTables_paginate,
.dt-bootstrap .dataTables_filter
{ 
    padding-right: 10px !important; 
}

.dataTables_filter, 
.dataTables_length{
    margin-top: 10px
} 
.column-selector { margin-right: 10px; } .column-selector .dropdown-menu { padding: 10px; height: auto; max-height: 500px; overflow-x: hidden; } .column-selector .dropdown-menu ul { padding: 0; } .column-selector .dropdown-menu ul li { margin: 0; } .column-selector .dropdown-menu label { width: 100%; padding: 3px; }


.date-range-area{
    display: none;
}
.date-range-area > div{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-range-area .col-md-5.left{
    width: calc(50% - 65px);
    padding-left: 0;
}

.date-range-area .col-md-5.right{
    width: calc(50% - 65px); 
}
.date-range-area .col-md-1{
    width: 40px;
    text-align: center;
}
.date-range-area .col-md-2{
    width: 120px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.time-periods .btn{
    border: 1px solid #d2d6de;
    background-color: #fff;
}

.content{
    min-height: 10px !important
}
.mb-0{margin-bottom: 0}